.display {
  display: flex;
  justify-content: flex-end;
  background-color: gray;
  height: 100px;

  p {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: right;
    font-size: 30px;
  }
}